@import "../../sp/scss/variable";
#home_page {
  #sim_banner {
    @media only screen and (max-width: 992px) {
      width: 95%;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 7px;
      overflow: hidden;
    }
  }
  #advantage {
    .advantage_content {
      .advantage_item {
        min-height: 380px;
        margin: 0 auto;
        padding: 25px;
        transition: 0.5s;
        position: relative;
        &:hover {
          transform: scale(1.1);
        }
        .item_icon {
          width: 70px;
          height: 70px;
          margin: 0 auto 15px auto;
          border: 3px solid $green_700;
          padding: 10px;
          border-radius: 100%;
          text-align: center;
          span {
            font-size: 40px;
            color: $green_700;
            text-align: center;
            line-height: 50px;
          }
        }
        .item_title {
          z-index: 1;
          margin-top: 25px;
          h6 {
            font-size: 20px;
            font-family: qs_bold;
            color: blue;
          }
        }
        .item_txt {
          z-index: 2;
        }
        img {
          z-index: 1;
          position: absolute;
          width: 20%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  #travel_simshop {
    .travel_simshop_content {
      .advantage_item {
        min-height: 380px;
        margin: 0 auto;
        padding: 25px;
        transition: 0.5s;
        .item_icon {
          display: block;
        }
        .item_title {
          margin-top: 25px;
          h6 {
            font-size: 20px;
            font-family: qs_bold;
            color: blue;
          }
        }
      }
    }
  }
}
