@import "../../sp/scss/variable";
#sim_detail {
  margin: 30px 0;
  .sim_content {
    .sim_img {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      img {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .sim_info {
      .total_data {
        font-style: italic;
        padding-left: 20px;
      }
      .sim_info_content {
        width: 100%;
        .price {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          border: 1px solid gray;
          margin: 15px 0;
          width: 100%;

          .price_item {
            width: 50%;
            position: relative;
            #price_discount {
              display: block;
              position: absolute;
              top: 65%;
              right: -20%;
              transform: translate(-50%, -50%);
            }
            .price_header {
              text-align: center;
              background-color: $red;
              padding: 10px 0;
              p {
                color: white;
                font-style: italic;
              }
            }

            span {
              font-family: qs_bold;
              font-size: 2rem;
              color: $red;
            }
            s {
              font-style: italic;
              text-align: center;
              display: block;
              font-size: 1.3rem;
              margin-top: 7px;
            }
          }
        }
        .sim_item {
          list-style: none;
          padding-left: 0;
          li {
            display: flex;
            align-items: center;
            span:first-child {
              margin-right: 15px;
              color: rgb(255, 123, 0);
              font-size: 1.8rem;
              font-weight: bold;
            }
          }
        }
        .inventory {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          margin: 15px 0;
          border: 1px solid gray;
          .inventory_item {
            width: 33.33%;
            .inventory_header {
              padding: 5px 10px;
              text-align: center;
              color: white;
              background-color: $green_600;
              transition: 0.5s;
              &:hover {
                background-color: $green_700;
              }
              p {
                font-style: italic;
              }
            }
            .inventory_number {
              padding: 0 5px;
              margin: 0;
              font-weight: bold;
              font-family: qs_bold;
              font-size: 1.5rem;
              text-align: center;
              color: rgb(82, 82, 82);
            }
          }
        }
        .btn_add_cart {
          padding: 15px;
          border-radius: 3px;
          background-color: $red;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
          &:hover {
            background-color: $green_700;
            span {
              margin: 0 3px;
            }
          }
          span {
            display: block;
            margin: 0 10px;
            transition: 0.5s;
          }
        }
      }
    }
    .tabs_sim {
      margin: 30px 0;
      position: relative;
      .btn_tabs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        button {
          border-radius: 0;
          padding: 10px 15px;

          background-color: $green_600;
          border: none;
          transition: 0.5s;
          &.active,
          &:hover {
            background-color: $green_700;
          }
        }
      }
      .tabs_panel {
        padding: 50px 25px;
        .sim_info {
          padding: 25px;
          .info_item {
            margin-bottom: 15px;
            h6 {
              font-size: 1.5rem;
              display: inline-block;
              &::after {
                content: "";
                display: block;
                width: 100%;
                margin: 5px auto;
                height: 3px;
                background-color: $red;
              }
            }
            ul {
              li {
                margin: 10px 0;
                span:last-child {
                  padding: 5px 10px;
                  background-color: $green_600;
                  color: white;
                  border-radius: 3px;
                  margin-left: 15px;
                }
              }
            }
          }
          .note {
            font-style: italic;
            font-weight: bold;
          }
        }
        .user_manual {
          padding: 25px;
          .user_manual_item {
            .user_manual_header {
              h6 {
                font-size: 1.5rem;
                display: inline-block;
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  margin: 5px auto;
                  height: 3px;
                  background-color: $red;
                }
              }
            }
            .info_item {
              margin: 10px 0;
              span:first-child {
                min-width: 80px;
                display: inline-block;
                padding: 5px 10px;
                background-color: $green_600;
                color: white;
                text-align: center;
                border-radius: 3px;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}
